parquet_output_2_extras
src/review_lengths.txt
all_files.parquet
app_details_json
parquet_output_2_extras_with_names
src/step_3_analysis/cleaned_data_polars
src/step_3_analysis/top_100_parquet
src/step_3_analysis/all_reviews_models_english
src/step_3_analysis/all_reviews_outputs_english
src/Step_4_modeling/likes_dislikes_model_BERT/bertinsights_dislikes.json
src/Step_4_modeling/likes_dislikes_model_BERT/bertinsights_likes.json
src/Step_4_modeling/per_app_model_BERT/models
src/Step_4_modeling/per_app_model_BERT/outputs
src/Step_4_modeling/dask_ml_trial/final.ipynb
src/Step_4_modeling/dask_ml_trial/10_model_bert_yet.ipynb
src/app_details_json
src/app_details_json_2
parquet_output_indie
FINAL/parquet_output_theme_combo
BDA.zip
FINAL/output_csvs
FINAL/output
FOR_GROUP

# Python related ignores
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# stemlens specific ignores
FINAL/stemlens/**/__pycache__/
FINAL/stemlens/**/*.py[cod]
FINAL/stemlens/**/*.so
FINAL/stemlens/**/*.egg-info/
FINAL/stemlens/build/
FINAL/stemlens/dist/
stemlens/**/__pycache__/
stemlens/**/*.py[cod]
stemlens/**/*.so
stemlens/**/*.egg-info/
stemlens/build/
stemlens/dist/
FINAL/stemlens/processing/__pycache__