parquet_output_2_extras
data_gathering_and_trials/review_lengths.txt
all_files.parquet
app_details_json
parquet_output_2_extras_with_names
data_gathering_and_trials/step_3_analysis/cleaned_data_polars
data_gathering_and_trials/step_3_analysis/top_100_parquet
data_gathering_and_trials/step_3_analysis/all_reviews_models_english
data_gathering_and_trials/step_3_analysis/all_reviews_outputs_english
data_gathering_and_trials/Step_4_modeling/likes_dislikes_model_BERT/bertinsights_dislikes.json
data_gathering_and_trials/Step_4_modeling/likes_dislikes_model_BERT/bertinsights_likes.json
data_gathering_and_trials/Step_4_modeling/per_app_model_BERT/models
data_gathering_and_trials/Step_4_modeling/per_app_model_BERT/outputs
data_gathering_and_trials/Step_4_modeling/dask_ml_trial/final.ipynb
data_gathering_and_trials/Step_4_modeling/dask_ml_trial/10_model_bert_yet.ipynb
data_gathering_and_trials/app_details_json
data_gathering_and_trials/app_details_json_2
parquet_output_indie

BDA.zip

FOR_GROUP

# Python related ignores
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# stemlens specific ignores
stemlensAI/**/__pycache__/
.gitignore
